<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Project Page</title>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <script>
        const jQuery = require('jquery')
        const $ = jQuery
    </script>
    <script src="../semantic/dist/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="styles/style.css">
</head>
<body>
    <h2>Project Page</h2>
    <p id='name'></p>

    <script src="./scripts/projectScript.js"></script>
</body>
</html>